body{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    line-height: 1.6em;
    background-image: url(images/bg1.jpg);
}
.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
#main-header{
    font-size: 30px;
    color: white;
    flex: 1;
    order: 1;
    padding-left: 37px;
}
#navbar{
    flex: 3;
    order: 1;
    padding-top: 22px;
}
#navbar ul{
    list-style: none;
    padding-left: 540px;
    display: flex;
}
.one{
    display: flex;
    background-image: linear-gradient(to right top, #1a69e0, #008ff3, #00ace7, #00c4c7, #1fd7a4);
}
#navbar li{
    display: inline;
    font-size: 20px;
}
#navbar a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
}
#navbar a:hover{
    text-decoration: underline;
}
.rest{
    padding-top: 2px;
}
.login{
    border: 2px white solid;
    padding-left: 15px;
    background-color: green;
}
#main-footer{
    background-color: rgb(74 141 255);
    color: white;
}
#main-footer a{
    text-decoration: none;
    color: white;
}
#main-footer a:hover{
    text-decoration: underline;
}
#main-footer h3{
    text-align: left;
}
.container-1{
    display: flex;
}
.container-1 div{
    padding: 10px;
}
.box-1{
    flex: 1;
}
.box-2{
    flex: 1;
}
.container-2{
    display: flex;
}
.container-2 div{
    padding: 10px;
}
.box-3{
    flex: 2;
}
.box-3 p{
    padding-right: 20px;
}
.box-4{
    flex: 1;
}
.box-5{
    flex: 1;
}
.box-6{
    flex: 1;
}
.box-7{
    flex: 1;
}
.footer-form input{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
#showcase{
    color: white;
    padding-bottom: 100px;
}
#showcase h1{
    font-size: 48px;
    line-height: 1.4em;
    padding-top: 0px;
}
#showcase p{
    line-height: 1.6em;
    padding-bottom: 20px;
}
#showcase a{
    text-decoration: none;
    padding: 0px 9px;
    border: 8px solid green;
    background-color: green;
    color: white;
    font-size: 20px;
}
#article{
    padding-bottom: 20px;
}
.group{
    display: flex;
}
.group h3{
    color: orange;
    font-size: 28px;
}
.group img{
    border-radius: 15%;
}
.group img:hover{
    opacity: 0.5;
}
.group p{
    padding-left: 20px;
    font-size: 22px;
    color: white;
}
.group-1{
    flex: 1;
    padding-right: 20px;
}
.group-2{
    flex: 1;
    padding-right: 20px;
}
.group-3{
    flex: 1;
    padding-right: 20px;
}
.group-4{
    flex: 1;
    padding-right: 20px;
}
.boxes{
    display: flex;
}

